.game-container{
  width: 500px;
  height: 730px;
  position: absolute;
  overflow: hidden;
  .sky{
    background: lightblue;
    width: 500px;
    height: 580px;
    position: absolute;
    .bird{
      background-color: yellow;
      position: absolute;
      height: 45px;
      width: 60px;
    }
  }
  .ground {
    background: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    bottom: 0;
  }

  .obstacle {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
  }
}