@font-face {
  font-family: "BackTo1982";
  src: local("BackTo1982"),
  url("./assets/fonts/BACKTO1982.ttf") format("truetype");
}

.game-container{
  width: 500px;
  height: 730px;
  position: absolute;
  overflow: hidden;
  .sky{
    background-color: lightblue;
    background-image: url("assets/sky-bg.png");
    background-size: 1000px 580px;
    background-repeat: no-repeat;
    width: 500px;
    height: 580px;
    position: absolute;
    .bird{
      background-image: url("assets/bird.png");
      background-size: 75px 55px;
      position: absolute;
      height: 45px;
      width: 60px;
    }
  }
  .ground {
    position: absolute;
    top: 600px;
    height: 150px;
    background-image: url('assets/ground.png');
    background-repeat: repeat-x;
    width: 100%;
    z-index: +1;
  }
  .ground-container {
    height: 150px;
    width: 580px;
    position: absolute;
  }

  .ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url('assets/ground.png');
    background-repeat: repeat-x;
    animation: slide 250s infinite linear;
    -webkit-animation: slide 250s infinite linear;
    width: 100%;
    z-index: +1;
  }

  .obstacle {
    background-image: url("assets/pipe.png");
    background-size: 60px 300px;
    width: 60px;
    height: 300px;
    position: absolute;
  }

  .topObstacle {
    background-image: url("assets/pipe.png");
    background-size: 60px 300px;
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
  }
}

.game-overlay{
  font-family: 'BackTo1982',serif;
  width: 500px;
  height: 710px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  z-index: +2 ;
  position: absolute;

  .game-message {
    color: white;
    display: none;
    position: absolute;
    top: 250px;
    left: 100px;
    text-align: center;
    max-width: 300px;
    .game-over{
      top: -50px;
    }
  }
  .game-text {
    font-family: 'BackTo1982',serif;
    font-size: xx-large;
    font-weight: bold;
  }
  .console{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    .console-col{
      margin: 10px 10px;
    }
    .small-margin{
      margin: 5px 10px;
    }
    .no-margin{
      margin: 0;
    }
    .underline{
      border-bottom: solid 1px black;
      padding-bottom: 5px;
    }
  }

}

@keyframes slide {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0;
  }
}

@-webkit-keyframes slideright {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0;
  }
}
